version: "2.4"

services:
  webapp:
    container_name: fastify-api
      build:
        context: .
      depends_on:
        - db
        - redis
  redis:
    image: redis:6.2.4-alpine
    restart: always
  db:
    image: postgres:13.3-alpine
    restart: always
    environment:
      POSTGRES_USER: fastify
      POSTGRES_PASSWORD: fastify
      POSTGRES_DB: fastify
